.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.board {
  display: flex;
  padding: 10px;
  flex-direction: row;
  height: 100%;
  width: 100%;
  text-align: left;
  align-items: center;
  background-color: rgb(113, 115, 129);
  color: black;
  font-size: calc(10px + 2vmin);
}

.cards-area {
  margin-top: 20px;
  flex: 1;
  height: 100%;
}

.board-cards {
  height: 100%;
  padding: 10px;
}

.cards-header {
  color: black;
  font-size: xx-large;
}

#counter-header {
  margin-top: 0;
}

.header-red {
  color: red;
}

.header-orange {
  color: orange;
}

.header-yellow {
  color: yellow;
}

.header-green {
  color: green;
}

.header-blue {
  color: blue;
}

.header-purple {
  color: purple;
}

.suggestion-cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.suggestion-card {
  height: 100%;
}

.suggestion-items {
  flex: 1;
}


.player-cards {
  flex: 2;
  display: flex;
  /* width: 80%; */
  display: flex;
  flex-direction: column;
}


.cards {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.card-rows {
  flex: 5;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.select-cards {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
}

.counter-cards {
  flex: 2;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.select-card {
  display: flex;
  flex: 1;
  width: 125px;
  height: 100%;
  gap: 10px;
  padding: 5px;
  word-break: break-all;
  background-color: rgb(177, 167, 35);
  font-size: medium;
  font-size: x-large;
}

.blank-card {
  display: flex;
  flex: 1;
  padding: 5px;
  gap: 10px;
}


.card {
  display: flex;
  width: 100px;
  word-break: break-all;
  height: 25%;
  background-color: rgb(177, 167, 35);
}

.card-small {
  height: 100%;
}

.card-medium {
  height: 75%;
}

.card-large {
  height: 100%;
  width: 100%;
}

.card-label {
  margin: 10px;
  font-size: medium;
}


.selected-card {
  background-color: rgb(222, 210, 46);
  outline: 4px solid white;
}

.select-card:hover {
  background-color: rgb(222, 210, 46);
}

.counter-cards > *:hover {
  background-color: rgb(222, 210, 46);
}

.non-selected-card {
  background-color: rgb(83, 78, 17);
}

.non-selected-card:hover {
  cursor: not-allowed;
  background-color: rgb(83, 78, 17);
}

.submit-area {
  flex: 1;
}

#submit-button {
  width: 25%;
  margin-left: 10px;
  height: fit-content;
  background-color: white;
}

.locations {
  flex: 2;
  margin: 50px;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.hallway {
  display: flex;
  background-color: rgb(57, 39, 10);
}

.hallway-active{
  cursor: pointer;
  background-color: rgb(103, 69, 17);
}

.hallway-active:hover {
  background-color: rgb(144, 102, 44);
}

.horizontal {
  margin: 20px 0;
}

.vertical {
  margin: 0 20px;
}

.room {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgb(44, 75, 17);
}

.players {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.room-label {
  flex: 0;
  width: 100%;
  text-wrap: wrap;
  padding: 5px;
  font-size: large;
  color: rgb(25, 41, 10);
}

.room-active {
  background-color: rgb(66, 113, 25);
  cursor: pointer;
}

.room-active:hover {
  background-color: rgb(100, 195, 100);
}

.player {
  background-color: white;
  z-index: 10;
  margin: 5px;
  width: 30px;
  height: 30px;
}

.weapon {
  background-color: black;
  color: white;
  word-wrap: break-word;
  text-align: center;
  overflow: hidden;
  font-size: 10px;
  z-index: 10;
  margin: 5px;
  width: 30px;
  height: 30px;
}

.player-red {
  background-color: red;
}

.player-orange {
  background-color: orange;
}

.player-yellow {
  background-color: yellow;
}

.player-green {
  background-color: green;
}

.player-blue {
  background-color: blue;
}

.player-purple {
  background-color: purple;
}

.player-current {
  border: solid white 1px;
}

.actions-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.actions {
  flex: 1;
  width: 89%;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  gap: 10px;
}

.actions > * {
  flex: 1;
  height: 100%;
}

.action {
  background-color: white;
  width: fit-content;
  height: fit-content;
  padding: 10px;
}

.blank-action {
  background-color: transparent;
  color: transparent;
  width: fit-content;
  height: fit-content;
  padding: 10px;
}


#reset {
  width: 75%;
}


.action:hover {
  cursor: pointer;
  background-color: rgb(223, 216, 183);
}

.notes {
  flex: 1;
  align-content: baseline;
  height: fit-content;
}

.notes-button {
  font-size: 64px;
  position: absolute;
  width: fit-content;
  height: fit-content;
  border-radius: 5%;
  right: 10px;
}

.modal-backdrop {
  background-color: pink;
}

.notes-modal {
  width: fit-content;
  margin-left: 45%;
}

.notes-button:hover {
  cursor: pointer;
}

.notepad {
  margin-right: 20px;
  margin-bottom: 20px;
  width: fit-content;
  height: 90%;
  background-color: white;
  overflow-y: scroll;
}

.notes-header {
  font-size: x-large;
  color: rgb(222, 210, 46);
  padding: 0;
  margin: 0;
}

.notes-section-header {
  background-color: rgb(222, 210, 46);
  font-size: large;
  padding: 0;
  margin: 0;
}

.notes-section {
  width: 100%;
}

.note-row {
  background-color: rgb(193, 194, 193);
  font-size: large;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.note-name {
  font-size: large;
  width: 80px;
}

.note-boxes {
  display: flex;
}

.note-box {
  background-color: white;
  border: 1px black solid;
  color: black;
  width: 25px;
  height: 25px;
  padding: 0;
  text-align: center;
}

.note-box:hover {
  cursor: pointer;
}

.active-box:hover {
  background-color: rgb(222, 210, 46);
}

#suggestion {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: left;
  align-items: center;
  background-color: rgb(113, 115, 129);
  color: black;
  font-size: calc(10px + 2vmin);
}

.status {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  align-self: center;
}

.center-status {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  align-self: center;
  margin-top: 50%;
}

.view-card {
  flex: 1;
  width: fit-content;
  padding-bottom: 10px;
  margin: 10px;
  display: flex;;
  flex-direction: column;
  align-self: center;
}

.counter-card {
  width: 100%;
  /* height: 300px; */
  flex: 5;
  align-self: center;
}

#okay-button {
  width: 50%;
  margin-top: 10px;
  height: fit-content;
  background-color: white;
}

.accuse-status {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#accuse-okay-button {
  width: 20%;
  margin-top: 10px;
  margin-right: 30%;
  height: fit-content;
  background-color: white;
}

#screen {
  justify-content: center;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
}

.screen-header {
  font-size: xx-large;
  margin: 10px;
}

.solution {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solution-cards {
  flex: 1;
}

.replay-area {
  flex: 1;
  width: fit-content;
}

#replay-button {
  width: 100%;
  height: fit-content;
}

.lobby-header {
  font-size: xx-large;
  margin: 10px;
}

.lobby-players {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: antiquewhite;
}

#players-header {
  background-color: rgb(133, 128, 129);
  margin: 0;
  padding: 10px;
}

.players-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.player-info {
  display: flex;
}

.create-player {
  padding: 10px;
  flex: 3;
  background-color: rgb(194, 186, 174);
  margin: 10px;
  margin-right: 20px;
  justify-content: center;
}

.username-input {
  flex: 1;
  margin-left: 10px;
}

.username-text {
  height: 30px;
  width: 400px;
}

.colors {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.color-item {
  width: 100px;
  height: 100px;
}

.color-item:hover {
  box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.5);
}

.color-item-not-selected {
  box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.7);
}

.confirm-area {
  margin: 10px;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
