.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.board {
  display: flex;
  padding: 10px;
  flex-direction: row;
  height: 100%;
  width: 100%;
  text-align: left;
  align-items: center;
  background-color: rgb(113, 115, 129);
  color: black;
  font-size: calc(10px + 2vmin);
}

.cards-area {
  flex: 1;
  height: 100%;
}

.board-cards {
  height: 25%;
  padding: 10px;
  align-self: baseline;
}

.cards-header {
  color: black;
  margin-left: 10px;
  font-size: xx-large;
}

.header-red {
  color: red;
}

.header-blue {
  color: blue;
}

.suggestion-cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-bottom: 50px;
}

.suggestion-items {
  flex: 1;
}

.player-cards {
  flex: 2;
  width: 80%;
  display: flex;
  flex-direction: column;
}


.cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 100%;
}

.select-cards {
  flex: 4;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
}

.select-card {
  display: flex;
  flex: 1;
  padding: 10px;
  word-break: break-all;
  background-color: rgb(177, 167, 35);
  font-size: medium;
  font-size: x-large;
}

.card {
  display: flex;
  flex: 1;
  width: 25px;
  word-break: break-all;
  height: 100%;
  background-color: rgb(177, 167, 35);
}

.card-label {
  margin: 10px;
  font-size: medium;
}

.selected-card {
  background-color: rgb(222, 210, 46);
  outline: 4px solid white;
}

.select-cards > *:hover {
  background-color: rgb(222, 210, 46);
}

.non-selected-card {
  background-color: rgb(83, 78, 17);
}

.non-selected-card:hover {
  cursor: not-allowed;
  background-color: rgb(83, 78, 17);
}

.submit-area {
  flex: 1;
}

#submit-button {
  width: 25%;
  margin-left: 10px;
  height: fit-content;
  background-color: white;
}

.locations {
  flex: 2;
  margin: 50px;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.hallway {
  display: flex;
  background-color: rgb(57, 39, 10);
}

.hallway-active{
  cursor: pointer;
  background-color: rgb(103, 69, 17);
}

.hallway-active:hover {
  background-color: rgb(144, 102, 44);
}

.horizontal {
  margin: 20px 0;
}

.vertical {
  margin: 0 20px;
}

.room {
  display: flex;
  flex-direction: column;
  background-color: rgb(44, 75, 17);
}

.players {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.room-label {
  flex: 0;
  width: 100%;
  text-wrap: wrap;
  padding: 5px;
  font-size: large;
  color: rgb(25, 41, 10);
}

.room-active {
  background-color: rgb(66, 113, 25);
  cursor: pointer;
}

.room-active:hover {
  background-color: rgb(100, 195, 100);
}

.player {
  background-color: white;
  z-index: 10;
  margin: 5px;
  width: 30px;
  height: 30px;
}

.player-red {
  background-color: red;
}

.player-blue {
  background-color: blue;
}

.player-current {
  border: solid white 1px;
}

.actions {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space space-between;
  gap: 10px;
  height: 100%;
  align-self: baseline;
  margin: 10px;
}

.action {
  background-color: white;
  width: 75%;
  height: 5%;
  padding: 10px;
}

.action:hover {
  cursor: pointer;
  background-color: rgb(223, 216, 183);
}

#suggestion {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: left;
  align-items: center;
  background-color: rgb(113, 115, 129);
  color: black;
  font-size: calc(10px + 2vmin);
}
